body{
    background-color: #EEEDEB;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #747264;

}

h2 {
    font-family: "Michroma", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #747264;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #3C3633;
}

#Header {
    background-image:
        linear-gradient(to left, #EEEDEB60, #EEEDEB 50%),
        url('../assets/Images/Banner.jpg');
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

#ContactMe {
    background-color: #747264;
    text-align: center;
    color: #E0CCBE
}

#ContactMe h2 {
    color: #E0CCBE;
}

#ContactMe footer{
    text-align: right;
    padding: 1rem;
    font-size: x-small;
}

.Portrait {
    border-radius: 50%;
}

@media only screen and (min-device-width: 400px) {
    .Contact-img {
        max-width: 100%;
    }
}

.Contact-img {
    max-width: 50%;
}

.game-card {
    width: 18rem;
}

.game-card img {
    height: 175px;
    object-fit: cover;
}
